{% extends 'todo/base.html' %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
                <h1>Hello!!!</h1>
            <b> This site will help you create your to-do list, mark important or already completed. Register and use my friend</b>
            <br>
            <a role="button" class="btn btn-primary btn-lg" href="{% url 'singupuser' %}">Start</a>
        </div>
    </div>
{% endblock %}